# ========================
# Environment variables
# ========================
.env
.env.*
!.env.example

# ========================
# Node modules
# ========================
node_modules/

# ========================
# Logs
# ========================
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# ========================
# Sequelize config
# ========================
config/config.json

# ========================
# Certificates / SSL
# ========================
*.crt
*.key
*.pem

# ========================
# Build / cache
# ========================
dist/
build/
coverage/

# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/
